@charset "utf-8";
a:hover{
   text-decoration: none;
}
.color-green{
    color: #008842 ;
}
.color-red{
    color: red;
}
.navbar-img{
    display: block;
    height: 30px;
    padding: 0;
}
.navbar-h{
    font-size: 14px;
}
.panel-body a{
    display: block;
    width: 100%;
    height: 20px;
}